<section>
  <header>
    <h1>Media Watch List</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem eveniet
      ducimus in aspernatur incidunt fuga, quaerat corporis? Id ipsum vero cum
      voluptatibus, repellat, ex minus perspiciatis, eum natus culpa asperiores.
    </p>
  </header>
  <media-item
    [name]="'Twenty Twenty'"
    [year]="'2008'"
    [category]="'MultiStar'"
  ></media-item>

  <media-item
    [name]="'CID Moosa'"
    [year]="'2003'"
    [category]="'Comedy'"
  ></media-item>
</section>
